{erl_opts, [debug_info]}.
{deps,
 [
  certifi,
  idna,
  ssl_verify_fun,
  mimerl,
  unicode_util_compat,
  metrics,
  parse_trans,
  hackney,
  ranch,
  cowboy,
  telemetry,
  prometheus,
  erlsom,
  jose,
  recon,
  poolboy,
  ibrowse,
  accept,
  erlexec,
  meck,
  gen_smtp,
  mochiweb,
  hpack_erl,
  pot
 ]}.
