{<<"name">>,<<"metrics">>}.
{<<"version">>,<<"2.5.0">>}.
{<<"requirements">>,#{}}.
{<<"app">>,<<"metrics">>}.
{<<"maintainers">>,[<<"Benoit Chesneau">>]}.
{<<"precompiled">>,false}.
{<<"description">>,
 <<"A generic interface to different metrics systems in Erlang.">>}.
{<<"files">>,
 [<<"src/metrics.app.src">>,<<"LICENSE">>,<<"README.md">>,<<"rebar.config">>,
  <<"rebar.lock">>,<<"src/metrics.erl">>,<<"src/metrics_exometer.erl">>,
  <<"src/metrics_folsom.erl">>,<<"src/metrics_noop.erl">>,
  <<"src/metrics_process_tracker.erl">>,<<"src/metrics_sup.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/benoitc/erlang-metrics">>}]}.
{<<"build_tools">>,[<<"rebar3">>]}.
